@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Onest&display=swap');

*{
    font-family: "DM Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(to right, #0270AC , #6FF9B9); */
    background-image: url('pics/Oceanic2021.jpeg');
    background-repeat:no-repeat ;
    background-size: cover;
    padding: 2rem 1rem;
    /* color: white; */
}



/* .main2{
    background-color: #fceeb5;
} */


.portfolio-main{
    display: grid;
    grid-template-columns:  1.25fr 3.75fr ;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-areas:
        'box1 box2'
        'box3 box4'
        'box5 box6'
    ;
    /* max-width: 90rem; */
    gap: 1rem;    
    margin-inline: .25em;
    position: relative;
}
.intro{
    grid-area: box1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 4.75fr;
    grid-template-areas: 
        'i1'
        'i2'
    ;
    gap: .5rem;
    position:fixed;
}
.iex2{
    grid-area: box3;
    background-color: #ffffff ;
}
.iex3{
    grid-area: box5;
    background-color: #ffffff ;
}
.navbar{
    /* background-image: linear-gradient(to right, #0270AC , #6FF9B9); */
    /* background-image: url('Oceanic2021.jpeg'); */
    grid-area: i1;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    margin-inline: 0.5em;
    padding: 1em 1em;
    border-radius: .5em;
    font-size: 20px; 
    display: flex;
    justify-content: center;
    color: #000;
    border: .0001rem solid black;
}
.intro1{
    /* background-image: linear-gradient(to right, #0270AC , #6FF9B9); */
    /* background-image: url('Oceanic2021.jpeg'); */
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    grid-area: i2;
    padding: 10px;
    /* position: fixed; */
    text-align: center;
    line-height: 3rem;
    border: .0001rem solid black;
}
.logo-pic{
    margin: 1rem 0rem;
    padding: 1rem 0.5rem ;
    border: 0px solid black;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-logo {
    /* width: 58.5%; */
    height: 200px;
    background: aliceblue;
    padding: .6em ;
    padding-bottom: 1.5em;
    margin: .6em;
    border-radius: 6px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .card-image-logo {
    background-color: rgba(196, 227, 255, 0.911) ;
    width: 128px;
    height: 85%;
    border-radius: 6px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pics/sakib.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .heading-logo {
    font-weight: 600;
    color: black;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-image-logo:hover {
    transform: scale(1.02);
  }
#btncv{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    font-size: 15px;
    
}
/* #downsvg{
    display: inline-flex;
} */
#email{
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin: 10px; */
    /* padding: 7px; */
    font-size: 22px;
    border: 0px solid black;
}
#email2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 7px;
    /* margin-top: 3px; */
    font-size: 14px;
}
#iemail{
    margin-top: .6em;
}
.emailsvg{
    margin-top: .6em;
}

.socialliks{
    /* margin: 5px;
    padding: 5px; */
    font-size: 25px; 
    display: flex;
    justify-content: center;
}
.links1{
    margin: 0px 15px;
    /* width: 15px;
    height: 15px; */
}
.links1::before{
    content: attr(data-content);
    font-size: 12px;
    position: absolute;
    transform: translate3d(-25px);
    text-align: left;
    opacity: 0;
}

.links2{
    margin: 0px 15px;
}
/* .links2::before{
    content: attr(data-socail);
    font-size: 10px;
    position: absolute;
    transform: translateY(-25px);
    text-align: left;
    opacity: 0;
} */
#links{
    text-transform: none;
    color: black;
}
.links2:hover {
    transform: scale(1.1);
    
  }
.links1:hover {
    transform: scale(1.1);
    
  }
.links1:hover::before{
    transform: translateY(-15px);
    opacity: 1;
    
}
/* .links2:hover::before{
    transform: translateY(-20px);
    opacity: 1;
} */
#main1{
    grid-area: box2;
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr,2fr;
    gap: 1rem;
    grid-template-areas: 
        'column1 column1'
        'column2 column3';
}
#main2{
    grid-area: box4;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr,1fr;
    gap: 1rem;
    grid-template-areas: 
        'column4'
        'column5'
        
    ;
}
#main3{
    grid-area: box6;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas: 
        'column6'
        ;
}
.content{
    margin-inline: 0.5em;
    padding: 2em 2.5em;
    /* display: flex;
    justify-content: start;
    align-content: center; */
    border-radius: .5em;
    /* background-image: linear-gradient(to right, #0270AC , #6FF9B9); */
    /* background-image: url('Oceanic2021.jpeg'); */
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    border: .0001rem solid black;
}

.content2{
    margin-inline: 0.5em;
    /* padding: 2em; */
    border-radius: .5em;
}

.about1{
    grid-area: column1;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    padding: 2em 2.5em;
    /* line-height: 2.5em; */
    font-size: larger;
}
.card-about {
    width: 100%;
    background: white;
    padding: .6em ;
    /* margin: .5em; */
    border-radius: 6px;
  }
.card-about:hover {
    transform: scale(1.01);
  }
#about2{
    border: 0px solid black;
    line-height: 1.75em;
    /* letter-spacing: 0.09em; */
    font-size: medium;
}
.education{
    grid-area: column2;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
}
.card-edu {
    width: 100%;
    /* height: 100px; */
    background: white;
    padding: .6em ;
    margin: .5em;
    border-radius: 6px;
  }
.card-edu:hover {
    transform: scale(1.02);
  }
.heading-edu {
    font-weight: 600;
    color: black;
    padding: 7px;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'h1 h2';
  }
#year{
    grid-area: h2;
    
}
#venue{
    grid-area: h1;
}
.experience{
    grid-area: column3;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    line-height: 1.75em;
}
.card-exp {
    width: 100%;
    background: white;
    padding: .6em ;
    margin: .5em;
    border-radius: 6px;
  }
.card-exp:hover {
    transform: scale(1.02);
  }
.skills{
    grid-area: column4;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
}

.skills-content{
    display: flex;
    justify-content: start;
    align-items: space-between;
}

/* .svg1{
    background-image: url('html.svg');
} */

.card-s {
    width: 200px;
    background: white;
    padding: .6em ;
    margin: .5em;
    border-radius: 6px;
  }
  .card-s1{
    margin-left: 0px;
  }
  .heading-s {
    font-weight: 600;
    color: black;
    padding: 7px;
    text-align: center;
  }
.projects{
    grid-area: column5;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    
}
.projects-content{
    display: flex;
    justify-content: start;
    align-items: space-between;
}
.card {
    width: 250px;
    background: aliceblue;
    padding: .6em ;
    margin: .8em;
    border-radius: 6px;
  }
  .card1{
    margin-left: 0px;
  }

#Amazon{
    background-image: url('pics/amazon.png');
    box-sizing: border-box;
    background-size: cover;
}
#Emphony{
    background-image: url('pics/EMPHONY.png');
    box-sizing: border-box;
    background-size: cover;
}
#VISTA{
    background-image: url('pics/VISTA.png');
    box-sizing: border-box;
    background-size: cover;
}
  

.card-image {
    background-color: rgba(196, 226, 255, 0.8) ;
    width: 100%;
    height: 130px;
    border-radius: 6px ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: black;
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: black;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }



.contact{
    grid-area: column6;
    background-color: rgba(218, 237, 255, 0.4) ;
    backdrop-filter: blur(10px);
    padding: 3em 3.5em;
    display: grid;
    gap: 1em;
    grid-template-columns: 0.75fr 1.25fr ;
    grid-template-rows: 1fr 1fr 1fr 2fr ;
    grid-template-areas: 
        'b1 b1'
        'b3 b9'
        'b5 b9'
        'b7 b9'
        'b8 b9'
    ;

}
#h{
    grid-area: b1;
}
#l1{
    grid-area: b2;
    padding-top: 1em;
}
#l2{
    grid-area: b4;
    padding-top: 1em;
}
#l3{
    grid-area: b6;
    padding-top: 2em;
}
#i1{
    grid-area: b3;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
    background-color: rgba(218, 237, 255, 0.9) ;
    backdrop-filter: blur(10px);
}
#i2{
    grid-area: b5;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
    background-color: rgba(218, 237, 255, 0.9) ;
    backdrop-filter: blur(10px);
}
#i3{
    grid-area: b7;
    padding: 0em 1em;
    border: 1px solid black;
    border-radius: .5em;
    background-color: rgba(218, 237, 255, 0.9) ;
    backdrop-filter: blur(10px);
}
#btnsub{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(218, 237, 255, 0.9) ;
    backdrop-filter: blur(10px);
    font-size: 15px;
}
#btnsub:hover {
    transform: scale(1.05);

  }
  #btncv:hover {
    transform: scale(1.05);
    
  }
.i4{
    grid-area: b8;
}
.iex4{
    grid-area: b9;
    /* width: 100%;
    height: 200px; */
    background-image: url('svg/contact.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem ;
    color: #ffffff;
    font-size: 15px;
    
}

@media screen and (max-width:600px){
    
    .portfolio-main{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: .5fr 1fr 1fr 1fr; */
        grid-template-areas:
            'box1'
            'box2'
            'box4'
            'box6'
        ;
        /* max-width: 80rem; */
        gap: 1rem;    
        margin-inline: 2em;
        /* position: relative; */
    }

    .intro{
        grid-area: box1;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: .25fr 4.75fr; */
        grid-template-areas: 
            'i1'
            'i2'
        ;
        gap: .5rem;
        /* position: absolute; */
    }

    #main1{
        grid-area: box2;
        display: grid;    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column1' 
            'column2'
            'column3'
            ;
    }
    #main2{
        grid-area: box4;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column4' 
            'column5'
        ;
    }

    .skills-content{
        display: block;
        /* justify-content: center;
        align-items: ; */
    }
    .card-s1{
        margin-left: .5em;
      }
      .projects-content{
        display: block;
        /* justify-content: start;
        align-items: space-between; */
    }
    .card1{
        margin-left: .8em;
      }
    #main3{
        grid-area: box6;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column6'
            ;
    }

    .contact{
        grid-area: column6;
        background-color: rgba(218, 237, 255, 0.4) ;
        backdrop-filter: blur(10px);
        padding: 3em 3.5em;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 2fr ;
        grid-template-areas: 
            'b1 b1'
            'b3 b9'
            'b5 b9'
            'b7 b9'
            'b8 b9'
        ;
    
    }

    .iex4{
        grid-area: b9;
        /* width: 100%;
        height: 200px; */
        background-image: url('');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        
    }

}


/* @media only screen and (min-width:600px) and (max-width:900px){
    sakib
} */


@media screen and (max-width:425px){
    
    .portfolio-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr 1fr 1fr;
        grid-template-areas:
            'box1'
            'box2'
            'box4'
            'box6'
        ;
        /* max-width: 80rem; */
        gap: 1rem;    
        margin-inline: 2em;
        /* position: relative; */
    }

    .intro{
        grid-area: box1;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: .25fr 4.75fr; */
        grid-template-areas: 
            'i1'
            'i2'
        ;
        gap: .5rem;
        /* position: absolute; */
    }

    #main1{
        grid-area: box2;
        display: grid;    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column1' 
            'column2'
            'column3'
            ;
    }
    #main2{
        grid-area: box4;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column4' 
            'column5'
        ;
    }

    .skills-content{
        display: block;
        /* justify-content: center;
        align-items: ; */
    }
    .card-s1{
        margin-left: .5em;
      }
      .projects-content{
        display: block;
        /* justify-content: start;
        align-items: space-between; */
    }
    .card1{
        margin-left: .8em;
      }
    #main3{
        grid-area: box6;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 1rem;
        grid-template-areas: 
            'column6'
            ;
    }

    .contact{
        grid-area: column6;
        background-color: rgba(218, 237, 255, 0.4) ;
        backdrop-filter: blur(10px);
        padding: 3em 3.5em;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 2fr ;
        grid-template-areas: 
            'b1 b1'
            'b3 b9'
            'b5 b9'
            'b7 b9'
            'b8 b9'
        ;
    
    }

    .iex4{
        grid-area: b9;
        /* width: 100%;
        height: 200px; */
        background-image: url('');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        
    }

}